
*{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}


.logo{
  display: block;
  margin: 0 auto;
  max-width: 350px;
  width: 100%;
}
.logo img{
  width: 100%;
}

.buttons{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  max-width: 650px;
  gap: 20px;
  row-gap: 15px;
  margin: 0 auto;
  margin-top: 40px;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #19ffbd;
  width: 300px;
  height: 50px;
  border-radius: 40px;
  border: 2px solid #fb00ba;
  font-size: 22px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 auto;
  font-family: 'Metropolis', sans-serif;
}

.button:nth-child(1){
  grid-column: 1/2;
  grid-row: 1/2;
}
.button:nth-child(2){
  grid-column: 2/3;
  grid-row: 1/2;
}
.button:nth-child(3){
  grid-column: 1/2;
  grid-row: 2/3;
}
.button:nth-child(4){
  grid-column: 2/3;
  grid-row: 2/3;
}
.button:nth-child(5){
  grid-column: 1/3;
  grid-row: 3/4;
  width: 450px;
}
.button:nth-child(6){
  grid-column: 1/3;
  grid-row: 4/5;
  width: 450px;
}

.line-deckor{
  width: 100%;
}

.line-deckor{
  margin-bottom: 30px;
}
.line-deckor.second-line{
  margin-top: 60px;
  margin-bottom: 0;
}

.line-deckor img{
  width: 100%;
}

.section{
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
}


.section__title{
  color: #19ffbd;
  font-size: 42px;
  padding-top: 60px;
  font-family: 'Metropolis', sans-serif;
}

.color-pink{
  color: #fb00ba;
}
.color-green{
  color: #19ffbd;
}

.section__title.title__red{
  color: rgb(250, 34, 34);
  margin-top: 60px;
}

.section__list{
  list-style: none;
  font-family: sans-serif;
  font-size: 24px;
  font-family: 'Fontick', sans-serif;
  margin: 0;
  margin-top: 15px;
  padding: 0;
}

.section__item{
  margin-top: 15px;
}

.section__item .section__content{
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid #fb00ba;
}

.section__item .section__subcontent{
  margin-top: 5px;
  font-size: 14px;
  font-family: 'Days Sans Black', sans-serif;
}

.list__title{
  font-size: 32px;
  margin-top: 25px;
  font-weight: 700;
  font-family: 'Days Sans Black', sans-serif;
}

.top-top{
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #fb00ba;
  backdrop-filter: blur(5px);
  z-index: 1000;
}

.top-top::before, .top-top::after{
  content: '';
  position: absolute;
  left: 50%;
  top: 47%;
  width: 15px;
  height: 1px;
  background-color: #fb00ba;
  transform: translate(-50%, -50%);
}

.top-top::before{
  transform: translate(-14%, -50%) rotate(40deg);
}
.top-top::after{
  transform: translate(-86%, -50%) rotate(-40deg);
}

@media (max-width: 650px) {
  .buttons{
    grid-template-columns: repeat(2, 1fr);
    padding:0  10px;
  }
  .button{
    width: 100%;
    font-size: 20px;
  }
  .button:nth-child(5){
    width: 75%;
  }
  .button:nth-child(6){
    width: 75%;
  }
  .section{
    padding:0  10px;
  }
  .list__title{
    font-size: 24px;
  }
  .section__list{
    font-size: 20px;
  }
  .section__item .section__subcontent{
    font-size: 12px;
  }
  .logo{
    width: 80%;
  }
  .top-top{
    bottom: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
  }
  .top-top::before, .top-top::after{
    width: 10px;
  }
}